<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "Consulmed"
        versionCode="1"
        version   = "1">

    <!-- versionCode is optional and Android only -->

    <name>Consulmed</name>

    <description>
        Consulmed
    </description>

    <author href="http://www.medplayer.com" email="moodyweb@hotmail.com">
        Paul Moody
    </author>
    <icon src="icon.png" />
    <gap:splash src="splash.png" />
</widget>
